set timeout=5
set default=0

menuentry "y2OS by YsFsystem" {
    echo "Booting Kernel"
    linux /boot/vmlinuz console=tty1 loglevel=7 earlyprintk=efi
    echo "Loading initramfs into RAM"
    initrd /boot/initrd.img
}
